:local(.navBar__userPanel) a:not(:first-child) {
  margin-left: 10px;
}

:local(.container) {
  display: flex;
  padding: 0 24px 0 24px;
  width: 100%;
  max-width: 1536px;
}

:local(.storeFilter) {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 200px;
  min-width: 173px;
  min-height: calc(100vh - 65px)
}

:local(.storeDropdown) {
  margin-top: 20px
}

:local(.storeSection) {
  padding: 13px 20px 20px 0;
  width: calc(100% - 200px);
}

:local(.productList) {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 480px;
  grid-auto-rows: 480px;
}

:local(.card) {
  height: 100%;
}

:local(.cardImg) {
  height: 260px;
}

:local(.cardTitle) {
  display: -webkit-box;
  height: 50px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:local(.cardRating) {
  font-weight: bold;
  text-align: right;
}

:local(.breadcrumbs) {
  margin-bottom: 20px;
}

:local(.productTitle) {
  font-size: 30px;
}

:local(.productWrapper) {
  display: grid;
  gap: 40px;
  grid-template-columns: 300px 1fr;
}

:local(.productInfo) {
  margin-bottom: 20px;
}

:local(.productImg) {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-column: 1;
  background-color: white;
}

:local(.productImg) img {
  max-height: 300px;
}

:local(.productDetails) * {
  margin-bottom: 20px;
}

:local(.productText) {
  font-size: 22px;
}

:local(.productPrice) {
  font-size: 24px;
}

:local(.infoTitle) {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

:local(.infoSubtitle) {
  margin-bottom: 20px;
}

:local(.cardSystemImg) div:not(:first-child) {
  margin-left: 20px;
}

:local(.aboutImg) {
  float: left;
  margin-right: 30px;
}

:local(.aboutText) {
  text-align: justify;
  margin-bottom: 20px;
}

:local(.contactsImg) {
  float: right;
  margin-left: 30px;
}

:local(.sliderImg) {
  width: 100%;
  height: 100%;
  background-color: white;
}

:local(.sliderImg) img {
  height: 70%;
}

:local(.navLogo) {
  display: flex;
  align-items: center;
}

:local(.errorWrapper) {
  min-height: 80px;
}

:local(.profileHeader) {
  margin-bottom: 14px;
}

:local(.profileHeader) h2{
  font-size: 27px;
}

:local(.profileTable){
  max-width: 700px;
}
