:local(.navBar__userPanel) a:not(:first-child) {
  margin-left: 10px;
}

:local(.container) {
  display: flex;
  padding: 0 24px 0 24px;
  width: 100%;
  max-width: 1536px;
}

:local(.storeFilter) {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 200px;
  min-width: 173px;
  min-height: 100vh;
  //min-height: calc(100vh - 64px);
  //border-right: 1px solid #262626;
}

:local(.storeDropdown) {
  margin-top: 20px
}

:local(.storeSection) {
  padding: 13px 20px 20px 0;
  width: 100%;
  height: 100%;
}

:local(.productList) {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 480px;
  grid-auto-rows: 480px;
}

:local(.card) {
  height: 100%;
}

:local(.cardImg) {
  height: 260px;
}

:local(.cardTitle) {
  display: -webkit-box;
  height: 50px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:local(.cardRating) {
  font-weight: bold;
  text-align: right;
}

:local(.breadcrumbs) {
  margin-bottom: 20px;
}

:local(.productTitle) {
  font-size: 30px;
}

:local(.productWrapper) {
  display: grid;
  gap: 40px;
  grid-template-columns: 300px 1fr;
}

:local(.productInfo) {
  margin-bottom: 20px;
}

:local(.productImg) {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-column: 1;
  background-color: white;
}

:local(.productImg) img {

  max-height: 300px;
}

:local(.productDetails) * {
  margin-bottom: 20px;
}

:local(.productText) {
  font-size: 22px;
}

:local(.productPrice) {
  font-size: 24px;
}
